body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f2f2f2;
}

h1 { text-align: center; }

.item-button {
    display: block;
    margin: 10px 0;
    padding: 20px;
    font-size: 24px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
}

.remove-button {
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

#total-container {
    margin-top: 30px;
    background-color: yellow;
    padding: 20px;
    font-size: 28px;
    width: 250px;
}
